* {
    margin: 0px;
    padding: 0px;
    font-family: 'Dongle', sans-serif;
}

header {
    top : 0px ;
    left: 0px ;
    height: 60px;
    width: 100%;
    position: sticky;
}

nav {
    height: 60px;
    background-color: darkblue; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover, nav li:hover {
    background-color: aliceblue;
    color: blue;
}

nav a:active {
    color: red;
}

nav li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    /* background-color: aliceblue; */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size: 36px;
}
article {
    background-color: aliceblue;
    margin: 20px;
    padding: 20px;
    width: 80%;
}
.iconsp {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}
#a1 img {
    width: 250px;
    border-radius: 50%;
}

ul {
    margin: 20px;
}

#a2 {
    background-color: lavender;
}

.c3 {
    background-color: aquamarine;
}

.c3>h1 {
    color: blue;
}

/* .c3 > ul> li { */
.c3 li {
    color: green;
}